.header {
    background-color: $violet-dark;
    height: 4rem;
    padding: 2rem 8rem;
    display: flex;
    align-items: center;

    &__logo {
        &-container {
            width: 20%;
        }
    }

    &__search-notes-field {
        width: 40%;
        font-size: 1.6rem;
        font-weight: 500;
        color: $white;
        border-radius: 5rem;
        background-color: $violet-light;
        border: none;
        margin: 0 2rem;
        padding: 1.2rem 2rem;

        &::placeholder {
            color: $violet-lighter;
            font-weight: 400;
        }

        &:focus {
            outline: none;
        }
    }
}